type at_distributor, domain;
type at_distributor_exec, exec_type, file_type;

init_daemon_domain(at_distributor)

allow at_distributor rootfs:lnk_file { getattr };
allow at_distributor proc:file { rw_file_perms };
allow at_distributor radio_prop:property_service { set };
allow at_distributor unlabeled:dir { search };
allow at_distributor unlabeled:file { setattr rw_file_perms };
allow at_distributor self:capability { chown fowner setuid };
allow at_distributor init:unix_stream_socket { connectto };
allow at_distributor rild_sp:unix_stream_socket { connectto };
allow at_distributor property_socket:sock_file { write };
allow at_distributor sysfs_wake_lock:file { rw_file_perms };

###########
# this line has a violation .
#

# allow at_distributor at_distributor_exec:file { execmod };
allow at_distributor system_file:file { execmod };
