type engsetmacaddr, domain;
type engsetmacaddr_exec, exec_type, file_type;

init_daemon_domain(engsetmacaddr)

allow engsetmacaddr rootfs:lnk_file { getattr };

###########
# this line has a violation .
#

# allow engsetmacaddr engsetmacaddr_exec:file { execmod };
allow engsetmacaddr init:unix_stream_socket { connectto };
