###########
# this line has a violation .
#

# allow fsck block_device:blk_file { getattr ioctl lock append lock read write open };
allow fsck block_device:blk_file { getattr ioctl lock append lock };
