type macloader, domain;
type macloader_exec, exec_type, file_type;

init_daemon_domain(macloader)

allow macloader rootfs:lnk_file { getattr };
allow macloader self:capability { dac_override };
allow macloader unlabeled:dir { rw_dir_perms };
allow macloader unlabeled:file { r_file_perms };

###########
# this line has a violation .
#

# allow macloader macloader_exec:file { execmod };
