type modemd, domain;
type modemd_exec, exec_type, file_type;

init_daemon_domain(modemd)

allow modemd rootfs:lnk_file { getattr };

###########
# those lines have violations .
#

# allow modemd device:chr_file { read open };
# allow modemd modemd_exec:file { execmod };

