# rild - We use rild_sp
type rild_sp, domain;
type rild_sp_exec, exec_type, file_type;

init_daemon_domain(rild_sp)
net_domain(rild_sp)

allow rild_sp rootfs:lnk_file r_file_perms;
allow rild_sp system_file:file { execute execmod };
allow rild_sp rootfs:file r_file_perms;
allow rild_sp self:capability setuid;
allow rild_sp property_socket:sock_file w_file_perms;
allow rild_sp unlabeled:file { rw_file_perms };
allow rild_sp radio_prop:property_service set;
allow rild_sp init:unix_stream_socket { connectto };
allow rild_sp shell_exec:file rx_file_perms;
allow rild_sp toolbox_exec:file rx_file_perms;
allow rild_sp system_data_file:dir w_dir_perms;
allow rild_sp unlabeled:dir search;
allow rild_sp unlabeled:file r_file_perms;
allow rild_sp proc:file { r_file_perms };
allow rild_sp devpts:chr_file { rw_file_perms };
allow rild_sp sysfs_wake_lock:file { rw_file_perms };

#################
### those lines have violations 
#

# allow rild_sp shell_data_file:file { open };

# allow rild_sp rild_sp_exec:file { execute execmod };
allow rild_sp rild_sp_exec:file { execute };

# allow rild_sp system_data_file:file { create_file_perms };
allow rild_sp system_data_file:file { r_file_perms };
