# data on
service data_on /system/bin/ext_data.sh  -u
    user root
    disabled
    oneshot

# data off
service data_off /system/bin/ext_data.sh  -d
    user root
    disabled
    oneshot
    
# kill app
service kill_phone /system/bin/ext_kill.sh  -m
    user root
    disabled
    oneshot
