# Create symlinks

service pty_symlink xxxx
    user root
    disabled
    oneshot

service smd_symlink /system/bin/ext_symlink -u
    user root
    disabled
    oneshot

service ext_symlink /system/bin/ext_symlink -p
    user root
    disabled
    oneshot
    
on property:sys.symlink.pty=*
    start ext_symlink
