# Create symlink
service pty_symlink /system/bin/ext_symlink.sh -p
    user root
    disabled
    oneshot

service smd_symlink /system/bin/ext_symlink.sh -u
    user root
    disabled
    oneshot
    
service ATChannel /system/bin/ATChannel
    user root
    disabled
    oneshot


on property:init.svc.phoneserver_2sim=running
    start ATChannel
